<div class="title">
  <span>Our developers</span>
</div>

<mat-card class="developer-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" id="dani-info"></div>
    <mat-card-title>Daniel Amador Salas</mat-card-title>
    <mat-card-subtitle>Estudiante de Ing. en Computación</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Estudiante entusiasta y apasionado de la tecnología. Se desempeña en el
      área de intenet de las cosas y desarrollo de software. Además, se interesa
      también en áreas relacionadas con IA y Gráficos por Computadora.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <a href="https://www.linkedin.com/in/jdamador/">
        <img src="assets/img/linkedin.png" alt="" class="responsive"
      /></a>
    </button>
    <button mat-button>
      <a href="https://github.com/jdamador"
        ><img src="assets/img/github.svg" alt="" class="responsive"
      /></a>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="developer-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" id="kem-info"></div>
    <mat-card-title>Kembly Quirós</mat-card-title>
    <mat-card-subtitle>Estudiante de Ing. en Computación</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Me apasiona aprender nuevas tecnologías y poder desarrollar soluciones a
      través de estas. Mi frase favorita: 'No te rindas!'
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <a href="https://www.linkedin.com/in/kemblyqa/">
        <img src="assets/img/linkedin.png" alt="" class="responsive"
      /></a>
    </button>
    <button mat-button>
      <a href="https://github.com/kemblyqa"
        ><img src="assets/img/github.svg" alt="" class="responsive"
      /></a>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="developer-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" id="roy-info"></div>
    <mat-card-title>Royland Solís Chacón</mat-card-title>
    <mat-card-subtitle>Estudiante de Ing. en Computación</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Las ganas de superación y de responsabilidad lo caracterizan como una
      persona dedicada en lo que hace. Tecnologías web y móvil son las áreas con
      mayor especialidad sin embargo, siempre ha de estar dispuesto a nuevos
      retos.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <a
        href="https://www.linkedin.com/in/roylandsol%C3%ADschac%C3%B3n-043863140/"
      >
        <img src="assets/img/linkedin.png" alt="" class="responsive"
      /></a>
    </button>
    <button mat-button>
      <a href="https://github.com/Rsolicha"
        ><img src="assets/img/github.svg" alt="" class="responsive"
      /></a>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="developer-card">
  <mat-card-content>
    <h4>Siguenos en facebook como: <a href="https://www.facebook.com/coffyAPI">coffyAPI</a></h4>
  </mat-card-content>
</mat-card>
