#WhoWeAre,
#WhoWeDo,
#WhoWeOffer {
  margin-left: 10%;
  width: 80%;
  height: 30%;
}

#question,
#idea,
#offer {
  height: 80%;
  width: 10%;
  float: left;
}


.text-title {
  font-size: 2rem;
  font-family: 'Acme', sans-serif;
  color: #05386b;
  text-align: center;
}
.text-body {
  text-align: justify;
  font-size: 1.7rem;
  vertical-align: middle;
  width: 85%;
  height: 10%;
  margin-left: 15%;
}

