<router-outlet></router-outlet>
<mat-card id="WhoWeAre">
  <img src="assets/img/question.png" alt="" id="question" />
  <div class="text-title">¿Quiénes somos?</div>
  <div class="text-body">
    Coffy es un API abierto para la generación de manera dinámica de código Javascript, permitiendo a nuestros usuario poder incorporar funciones desarrolladas por él o por la comunidad a sus proyectos.
  </div>
</mat-card>

<mat-card id="WhoWeDo">
  <img src="assets/img/idea.webp" alt="" id="idea" />

  <div class="text-title">¿Qué hacemos?</div>

  <div class="text-body">
    La plataforma ofrece la posibilidad de revisar un largo y cargado repositorio
    de funciones que están totalmente a la entera disposición de quién guste
    hacer uso de ellas. Estas funciones han sido desarrolladas por los mismos
    miembros de la comunidad de usuarios. En este portal, encontrá las
    herramientas para consultar o una vez registrado crear y generar sus propias
    funciones.
  </div>
</mat-card>

<mat-card id="WhoWeOffer">
  <img src="assets/img/offer.png" alt="" id="offer" />
  <div class="text-title">¿Qué Ofrecemos?</div>
  <div class="text-body"
    >Acá podras encontrar la posibilidad de importar diferentes funciones
    utilizando tres diferentes métodos:
    <ul>
      <li>Incrustado en un etiqueta script.</li>
      <li>
        Importación directa de módulos o funciones mediante un listado de
        códigos de las funciones que se quiere agregar y sus dependencias.
      </li>
      <li>Importación basada en referencia URL y código de a función.</li>
    </ul>
    Además, la posibildad de crear un repositorio extenso de funciones o
    consultar aquellas desarrolladas por los usuarios de la comunidad.
  </div>
</mat-card>
