<h1 mat-dialog-title> {{data?.modify ? 'Actualizar información de esta función' : 'Crea tu nueva función'}} </h1>
<div mat-dialog-content class="mat-typography">
    <form [formGroup]="functionFormGroup" #infoDirective="ngForm" class="example-container">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <input matInput placeholder="Nombre" maxlength="128" formControlName="name" required>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <input matInput placeholder="Descripción" maxlength="128" formControlName="description" required>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <input matInput placeholder="Etiqueta" maxlength="128" formControlName="tag" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <textarea matInput placeholder="Código Javascript" formControlName="code" required></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Agregar dependencia
                            </mat-panel-title>
                            <mat-panel-description>
                                Escribe el nombre de tu dependencia
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <input type="text" placeholder="Buscar por nombre de función" aria-label="Number" #searchInput
                                [(ngModel)]="searchFilter" matInput [ngModelOptions]="{standalone: true}"
                                [matAutocomplete]="auto">
                            <button mat-button *ngIf="searchFilter" matSuffix mat-icon-button aria-label="Clear"
                                (click)="searchFilter='';">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                (optionSelected)='getDependency($event.option.value)'>
                                <mat-option
                                    *ngFor="let item of functionNameSearchAutoComplete$ | async; let index=index"
                                    [value]="item">
                                    {{item.data.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="col">
                <mat-form-field [hidden]="dependences.length == 0">
                    <mat-chip-list #chipList aria-label="selection">
                        <mat-chip color="accent" *ngFor="let dep of dependences" [selectable]="true" [removable]="true"
                            (removed)="removeDependency(dep)" selected>
                            {{dep.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="alert-buttons">
            <span class="button-group-left" *ngIf="!data?.hideCancel">
                <button mat-button type="button" class="alert-button cancel-button"
                    (click)="onNoClick()">Cancelar</button>
            </span>
            <span class="button-group-right">
                <button mat-button type="submit" class="alert-button accept-button" (click)="onSave()">
                    {{ data?.modify ? 'Guardar' : 'Crear' }}
                </button>
            </span>
        </div>
    </form>
</div>