<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>{{data.message}}</p>
</div>
<div mat-dialog-actions class="alert-buttons">
    <span class="button-group-left" *ngIf="data.cancel">
        <button mat-button class="alert-button cancel-button" [mat-dialog-close]="false">Cancelar</button>
    </span>
    <span class="button-group-right">
        <button mat-button class="alert-button danger-button" [mat-dialog-close]="true" cdkFocusInitial>{{ data.cancel ? 'Aceptar' : 'Volver' }}</button>
    </span>
</div>