<div class="input-elements">
  <mat-form-field class="input-box">
    <input matInput placeholder="Nombre de la función" [(ngModel)]="name"/>
  </mat-form-field>
  <mat-form-field class="input-box">
    <input matInput placeholder="Nombre de usuario" [(ngModel)]="username"/>
  </mat-form-field>
  <mat-form-field class="input-box">
    <input matInput placeholder="Descripción"  [(ngModel)]="description"/>
  </mat-form-field>
  <mat-form-field class="input-box">
    <input matInput placeholder="Tag" [(ngModel)]="tag"/>
  </mat-form-field>
  <button mat-raised-button (click)="GetFunctions()">FILTRAR</button>
</div>

<mat-accordion *ngFor="let item of functionObtained">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header >
      <mat-panel-title>
        Nombre de la función: {{item.data.name}}
      </mat-panel-title>
      <mat-panel-description>
        Descripción: {{item.data.description}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Etiqueta: {{item.data.tag}}</p>
    <p>Nombre de usuario: {{item.data.user}}</p>
    <p>Dependencias: {{item.data.functions}}</p>
    <p>URL: {{ apiUrl }}code?id={{item.id}}</p>
  </mat-expansion-panel>
</mat-accordion>
