.input-elements {
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 1%;
}
.input-box {
  width: 18%;
  margin-right: 3%;
  color: #05386b;
}

mat-expansion-panel {
  margin-right: 10%;
  margin-left: 9%;
  margin-top: 2%;
}
#buscar {
  background-color: #05386b;
  color: white;
}

mat-accordion {
  background-color: #f2d2b3;
}
