<h1 mat-dialog-title> Información de la función </h1>
<div mat-dialog-content class="mat-typography">
    <p>{{data.name}}</p>
    <div class="row">
        <div class="col" style="width: 30%">
            <label><strong>ID</strong></label>
            <label>{{data.idFunction}}</label>
        </div>
        <div class="col">
            <label><strong>Tag</strong></label>
            <label>{{data.tag}}</label>
        </div>
        <div class="col">
            <label><strong>Descripción</strong></label>
            <label>{{data.description}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><strong>Código</strong></label>
            <label>{{data.code}}</label>
        </div>
        <div class="col">
            <label><strong>Dependencias</strong></label>
            <label>{{data.functions}}</label>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Volver</button>
</div>