/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: aquamarine; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1%;
}
  
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 2%;
}

.form-input-extended-container {
    display: flex;
    flex-direction: column;
}

.form-input-extended-container>* {
    width: 100%;
}