<mat-card class="global-container">
    <div>
        <mat-form-field color="primary">
            <input type="text" placeholder="Buscar usuario" aria-label="Number" #searchInput [(ngModel)]="searchFilter"
                matInput>
            <button mat-button *ngIf="searchFilter" matSuffix mat-icon-button aria-label="Clear"
                (click)="searchFilter=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <!-- table with user functions -->
    <div>

    </div>
</mat-card>