<mat-card class="global-container">
    <div>
        <mat-form-field color="primary">
            <input type="text" placeholder="Buscar usuario" aria-label="Number" #searchInput [(ngModel)]="searchFilter"
                matInput>
            <button mat-button *ngIf="searchFilter" matSuffix mat-icon-button aria-label="Clear"
                (click)="searchFilter=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="add-position" style="width: 20%;">
        <button (click)="addFunction()" mat-flat-button color="primary"><i class="material-icons">
                search
            </i> Crear función </button>
    </div>
    <!-- table with user functions -->
    <div>
        <mat-table [dataSource]="userFunctionsDataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nombre de función </mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let element"> {{element.data.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tag">
                <mat-header-cell *matHeaderCellDef> Etiqueta </mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip color="primary" selected>{{element.data.tag}}</mat-chip>
                    </mat-chip-list>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let element">
                    <button (click)="viewFunction(element)" mat-icon-button style="color: green;">
                        <mat-icon>info</mat-icon>
                    </button>
                    <button (click)="editFunction(element)" mat-icon-button style="color: orangered;">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="deleteFunction(element.id)" mat-icon-button style="color: orangered;">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</mat-card>